<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quote of the Day!</title>
</head>
<body>
  <div class="main">
    <p>Today's quote of the day is:</p><br>
    <p><b><i>{{ data }}</i></b></p><br>
    <form action="{{ url_for('addQuote') }}" method="post">
      <input type="text" id="quote" name="quote" placeholder="Add a quote..." required>
      <button type="submit" title="Add a quote.">Add</button>
    </form><br>
    <a href="{{ url_for('listofquotes') }}">Display list of quotes.</a><br><br>
    <form action="{{ url_for('deleteQuote') }}" method="post">
      <input type="text" id="delete-quote" name="delete-quote" placeholder="Enter the beginnings of a quote..." required>
      <button type="submit" title="Delete an existing quote.">Delete quote</button>
    </form>
    <p>{{ msg }}</p>
  </div>
</body>
</html>